<p id="notice"><%= notice %></p>

<h1>Listing Campaign Commitees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Logo</th>
      <th>Party</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaign_commitees.each do |campaign_commitee| %>
      <tr>
        <td><%= campaign_commitee.name %></td>
        <td><%= campaign_commitee.logo %></td>
        <td><%= campaign_commitee.party %></td>
        <td><%= link_to 'Show', campaign_commitee %></td>
        <td><%= link_to 'Edit', edit_campaign_commitee_path(campaign_commitee) %></td>
        <td><%= link_to 'Destroy', campaign_commitee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign commitee', new_campaign_commitee_path %>
