<p id="notice"><%= notice %></p>
<h1>Komitety wyborcze</h1>
<table>
  <thead>
  <tr>
    <th>Nazwa</th>
    <th>Logo</th>
    <th>Partia</th>
    <th>Głosy</th>


    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @commitees.each do |commitee| %>
      <tr>
        <td><%= commitee.name %></td>
        <td><%= image_tag commitee.logo.url(:thumb) %></td>
        <td><%= commitee.party %></td>
        <% @votes.each do |vote| %>
            <% if vote.commitee_id == commitee.id %>
        <td><%= vote.vote %></td>
            <% end %>
        <% end %>
        <td><%= link_to 'Wyświetl', commitee %></td>
        <% @votes.each do |vote| %>
            <% if vote.commitee_id == commitee.id %>
        <td><%= link_to 'Dodaj głosy', edit_vote_path(vote) if can? :update, Commitee %></td>
            <% end %>
        <% end %>
        <td><%= link_to 'Usuń', commitee, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, Commitee %></td>
      </tr>
  <% end %>

  </tbody>
</table>
<br>
<%= link_to 'New Commitee', new_commitee_path if can? :create, Commitee %>