<p id="notice"><%= notice %></p>
<p>
  <strong>Nazwa:</strong>
  <%= @commitee.name %>
</p>
<p>
  <strong>Logo:</strong>
  <%= @commitee.logo %>
</p>
<p>
  <strong>Partia:</strong>
  <%= @commitee.party %>
</p>


<%= link_to 'Edytuj', edit_commitee_path(@commitee) if can? :edit, Commitee%> |
<%= link_to 'Powrót', commitees_path %>