<%= form_for(@district) do |f| %>
  <% if @district.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@district.errors.count, "error") %> prohibited this district from being saved:</h2>

      <ul>
      <% @district.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>Nazwa:</strong><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <strong>Elektorat:</strong><br>
    <%= f.number_field :electorate if can? :update, District.electorate %>
  </div>
  <div class="field">
    <strong>Liczba mandatów:</strong><br>
    <%= f.number_field :mandate if can? :update, District.mandate %>
  </div>
  <div class="field">
    <strong>Głosy nieważne - ilość skreśleń:</strong><br>
    <%= f.number_field :invalid_vote %>
  </div>
  <div class="field">
    Głosy nieważne - puste:<br>
    <%= f.number_field :empty_vote %>
  </div>
  <div class="field">
    <strong>Głosy nieważne - pozostałe:</strong><br>
    <%= f.number_field :other_vote %>
  </div>
  <div class="field">
    <strong>Wydane karty do głosowania:</strong><br>
    <%= f.number_field :issued_voting_card %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
