<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa okręgu:</strong>
  <%= @district.name %>
</p>

<p>
  <strong>Elektorat:</strong>
  <%= @district.electorate %>
</p>

<p>
  <strong>Liczba mandatów:</strong>
  <%= @district.mandate %>
</p>
<p>
  <strong>Frekwencja:</strong>
  <%= @district.frekwencja %>
</p>

<p>
  <strong>Nieważne głosy - niepoprawne skreślenia:</strong>
  <%= @district.invalid_vote %>
</p>

<p>
  <strong>Nieważna głosy - puste:</strong>
  <%= @district.empty_vote %>
</p>

<p>
  <strong>Nieważne głosy - pozostałe:</strong>
  <%= @district.other_vote %>
</p>

<p>
  <strong>Liczba kart wydanych do głosowania:</strong>
  <%= @district.issued_voting_card %>

</p>
<p>
  <strong>Ważne głosy:</strong>
  <%= @district.valid_votes %>
</p>
<p>
  <strong>Nieważne głosy:</strong>
  <%= @district.invalid_votes %>
</p>
<p>
  <strong>Liczba głosów oddanych:</strong>
  <%= @district.issued_voting_card %>
</p>
<p>
  <strong>Wszystkie oddane głosy </strong>
  <%= @district.total %>
</p>

 <h3>Porównanie:</h3>
<p>
<strong>Wydane karty do głosowania: <%= @district.issued_voting_card  %><br></strong>
</p>
<p>
 <strong>Wszystkie oddane głosy: <%= @district.total %><br></strong>
</p>
<p>
 <strong>Różnica między wydanymi kartami a oddanymi głosami: </strong><%= @district.cards %>
</p>

<%= link_to 'Edytuj', edit_district_path(@district)  if can? :update, District%> |
<%= link_to 'Powrót', districts_path %>
