<h1>Dodaj głosy:</h1>

<%= form_for(@vote) do |f| %>
    <% if @vote.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

          <ul>
            <% @vote.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">

        Nazwa komitetu:<strong> <%= @vote.commitee_name %> </strong>w okręgu: <strong><%= @vote.district_name %></strong><br>

      <strong>Liczba głosów: <%= @vote.vote %></strong><br>
      <strong>Wpisz liczbę uzyskanych głosów:</strong>

      <%= f.number_field :vote%>
    </div>
    <div class="actions">
      <%= f.submit "Zatwierdź"%>
    </div>
<% end %>


<%= link_to 'Wyświetl', @vote %> |
<%= link_to 'Powrót', commitees_path %>
