<p id="notice"><%= notice %></p>

<h1>Listing Votes</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa okręgu</th>
      <th>Komitet wyborczy</th>
      <th>Ilość głosów ważnych</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.district.name %></td>
        <td><%= vote.commitee.name %></td>
        <td><%= vote.vote %></td>

        <td><%= link_to 'Wyświetl', vote if can? :update, Vote %></td>
        <td><%= link_to 'Edytuj', edit_vote_path(vote) if can? :update, Vote %></td>
        <td><%= link_to 'Usuń', vote, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, Vote %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vote', new_vote_path if can? :create , Vote %>
